body {
    font-family: 'EB Garamond', serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    white-space: pre-line;
}

#input-container, #output-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 300px; /* Adjust the width as needed */
    box-sizing: border-box;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    background-color: #444;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    margin-top: 10px; /* Added margin-top */
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#output {
    font-weight: bold;
}

#output-container {
    display: none;
    padding: auto;
}

#output-container.active {
    display: block;
    margin-top: 30px;
}
